<div class="popup-content__left">
  <div class="popup-content__img">
    <img class="js-popup-info-img" src="./img/76.jpg" alt="">
  </div>
</div>
<div class="popup-content__content">
  <div class="popup-content__title title-under">
    <h3 class="title title--h3 js-popup-info-title">«Eurofast»</h3>
  </div>
  <div class="popup-content__text js-popup-info-text">
    <p>«Eurofast» — региональная бизнес-консультационная организация в Юго-Восточной Европе и на Ближнем Востоке, имеет 22 филиала. Компания позиционирует себя как единый магазин для инвесторов и компаний... которые ищут профессио-нальные услуги в Регионе.</p>
    <a href="#">www.eurofast.eu</a>
  </div>
</div>
