.overflow-hidden
  overflow: hidden
.text-center
  text-align: center
.pb-0
  padding-bottom: 0 !important
.pt-0 
  padding-top: 0 !important

.accent
  color: $accent !important

.shadow
  box-shadow: 0px 0px 10px 0px rgba(1, 0, 0, 0.09)

.bold
  font-weight: 700 !important

.align-items-space-between
  align-self: baseline

.flex-direction-column
  flex-direction: column

.justify-content-space-between
  justify-content: space-between

.d-flex
  display: flex !important
