<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="ru">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Index</title>

  <link href="https://fonts.googleapis.com/css?family=Roboto:300,700&display=swap" rel="stylesheet">
</head>

<body bgcolor="#ffffff" topmargin="0" leftmargin="0" marginheight="0" marginwidth="0" style="-webkit-font-smoothing: antialiased;width:100% !important;overflow-x:hidden !important;background:#ffffff;-webkit-text-size-adjust:none; font-family: Roboto, sans-serif; font-size: 16px; font-weight: 300; color: #3b3b3b;">
   <table width="600" cellpadding="0" cellspacing="0" border="0" align="center" style="padding: 0; min-width: 460px; max-width: 600px;">
    <tr>
      <td>
        <center style="max-width: 600px; width: 100%;">
          <table width="100%" bgcolor="#ffffff" cellpadding="0" cellspacing="0" border="0" align="center" style="padding: 0;">
            <tr bgcolor="#332c2a" style="color: white;background-image: url('./img/letters/bg-header.jpg');background-size: cover;background-repeat: no-repeat;background-position: 50% 0%">
              <td height="75" width="50%" bgcolor="" valign="center" style="padding-left: 40px">
                <img src="./img/letters/logo.png" width="180" height="42" alt="">
              </td>
              <td height="75" width="50%" bgcolor="" valign="center" style="padding-left: 10px;padding-right: 40px">
                <span style="display: inline-block;vertical-align: middle;margin-right: 10px;">Следите за нами:</span>
                <a href="#" style="display: inline-block;vertical-align: middle;margin-right: 7px;"><img src="./img/letters/instagram.png" alt=""></a>
                <a href="#" style="display: inline-block;vertical-align: middle;margin-right: 7px;"><img src="./img/letters/facebook-logo.png" alt=""></a>
                <a href="#" style="display: inline-block;vertical-align: middle;margin-right: 7px;"><img src="./img/letters/linked-in-logo-of-two-letters.png" alt=""></a>
                <a href="#" style="display: inline-block;vertical-align: middle;"><img src="./img/letters/youtube-logotype.png" alt=""></a>
              </td>
            </tr>
          </table>
        </center>
      </td>
    </tr>
  </table>

  <table width="600" cellpadding="0" cellspacing="0" border="0" align="center" style="padding: 0; min-width: 460px; max-width: 600px;">
    <tr>
      <td>
        <center style="max-width: 600px; width: 100%;">
          <table width="100%" bgcolor="#ffffff" cellpadding="0" cellspacing="0" border="0" align="center" style="padding: 0;">
            <tr style="background-image: url('./img/letters/bg-section.jpg');background-size: cover;background-repeat: no-repeat;background-position: 50% 0%">
              <td height="60" valign="center" style="padding-left: 40px;">
                <img style="display: inline-block;vertical-align: middle;" src="./img/letters/clock.png" width="19" alt="">
                <span style="display: inline-block;vertical-align: middle;">2 марта 2020</span>
              </td>
              <td height="60" align="right" valign="center" style="padding-right: 40px;">
                <img style="display: inline-block;vertical-align: middle;" src="./img/letters/pin.png" width="13" alt="">
                <span>Москва, Lotte Hotel</span>
              </td>
            </tr>

            <tr bgcolor="#fff" style="">
              <td colspan="2" height="75" width="50%" bgcolor="" valign="center" align="center" style="font-size: 21px;padding-top: 45px;padding-left: 40px;padding-right: 40px;padding-bottom: 45px;">
                <h1 style="color: #644335;font-size: 33px;margin-bottom: 15px;margin-top: 0;">Регистрируйтесь <br> на Intax Private <br> Capital Forum Moscow</h1>

                <img src="./img/letters/rect.png" alt="" width="100%" style="margin-bottom: 15px;max-width: 430px;">
                <div style="font-size: 18px;color: #644335;">международную конференцию <br> о частном капитале</div>
              </td>
            </tr>
            <tr>
              <td colspan="2" height="92" valign="center" align="center" bgcolor="#38302d" style="background-image: url('./img/bg-block.png');background-repeat: no-repeat;background-position: 50% 50%;background-size: cover;">
                <div style="font-weight: 700;font-size: 32px;color: white">Экономьте до 16 500 руб.,</div>
                <div style="font-size: 16px;color: white">регистрируясь на конференцию сейчас!</div>
              </td>
            </tr>
          </table>
        </center>
      </td>
    </tr>
  </table>

  <table width="600" cellpadding="0" cellspacing="0" border="0" align="center" style="padding: 0; min-width: 460px; max-width: 600px;">
    <tr>
      <td>
        <center style="max-width: 600px; width: 100%;">
          <table width="100%" bgcolor="#ffffff" cellpadding="0" cellspacing="0" border="0" align="center" style="padding: 0;">
            <tr>
              <td align="center" valign="center" style="padding-right: 40px;padding-left: 40px;padding-top: 50px;padding-bottom: 25px;">
                <span style="margin-right: 10px;font-size: 21px;width: 50%;">Специальная цена действует до</span>
                <span style="font-size: 20px;display: inline-block;width: 180px;height: 35px;line-height: 35px;background-image: url('./img/letters/border-sm.png');background-repeat: no-repeat;background-position: 50% 50%;background-size: 180px 35px"><img src="./img/letters/time.png" alt="" style="display: inline-block;margin-right: 5px;">31 января 2020</span>
              </td>
            </tr>
            <tr>
              <td align="center" style="padding-bottom: 56px;">
                <div style="text-transform: uppercase;text-decoration: underline;color: #c08b61;font-size: 48px;font-weight: 700;">3 500 руб.</div>
                <div style="font-size: 13px;font-weight: 700;color: #c08b61;margin-bottom: 10px;">(Специальная цена)</div>
                <a href="#" style="display: inline-block;width: 292px;text-align: center;color: white;background-image: url('./img/letters/btn.png');background-repeat: no-repeat;background-position: 50% 50%;background-size: 100%;font-size: 16px;text-transform: uppercase;text-decoration: none;height: 40px;line-height: 40px;">Регистрация</a>
              </td>
            </tr>
          </table>
        </center>
      </td>
    </tr>
  </table>

  <table width="600" cellpadding="0" cellspacing="0" border="0" align="center" style="padding: 0; min-width: 460px; max-width: 600px;">
    <tr>
      <td>
        <center style="max-width: 600px; width: 100%;">
          <table width="100%" bgcolor="#ffffff" cellpadding="0" cellspacing="0" border="0" align="center" style="padding: 0;">
            <tr>
              <td>
                <img src="./img/letters/О мероприятии (1).jpg" alt="" width="100%" style="max-width: 100%;">
              </td>
            </tr>

            <tr>
              <td style="padding: 40px">
                <h2 style="margin: 0;font-size: 21px;font-weight: 300;margin-bottom: 8px;">Private Capital Forum 2020 это:</h2>
                <img src="./img/letters/rect.png" alt="" width="100%" style="margin-bottom: 15px;max-width: 300px;">

                <ul style="margin: 0;padding-left: 1em">
                  <li style="margin-bottom: 25px;">Участники из 20 стран</li>
                  <li style="margin-bottom: 25px;">40 спикеров самого высокого уровня со всего мира</li>
                  <li style="margin-bottom: 25px;">Нетворкинг среди лидеров индустрии Wealth Management</li>
                  <li style="">Роскошная локация и безупречная организация мероприятия</li>
                </ul>
              </td>
            </tr>

            <tr>
              <td>
                <img src="./img/letters/коллаж.jpg" alt="" width="100%" style="max-width: 100%;">
              </td>
            </tr>

            <tr>
              <td style="padding: 40px">
                <h2 style="margin: 0;font-size: 21px;font-weight: 700;margin-bottom: 8px;text-transform: uppercase;">ПОДРОБНЕЕ О МЕРОПРИЯТИИ</h2>
                <img src="./img/letters/rect.png" alt="" width="100%" style="margin-bottom: 15px;max-width: 300px;">
                <strong style="display: block;margin-bottom: 20px;">В программе конференции:</strong>

                <ul style="margin: 0;padding-left: 1em">
                  <li style="margin-bottom: 25px;">Какие налоговые риски для частного капитала несут изменения международного и российского законодательств</li>
                  <li style="margin-bottom: 25px;">Как надежно структурировать активы в условиях тотальной прозрачности и обмена информацией</li>
                  <li style="margin-bottom: 25px;">Как работать с банками в разных странах и сохранить деньги</li>
                  <li style="margin-bottom: 25px;">Как защитить семейный бизнес от враждебных действий</li>
                  <li style="margin-bottom: 25px;">Какие инвестиции в ближайшем будущем будут самыми надежными и прибыльными</li>
                  <li>Как управлять активами находящимися в разных странах</li>
                </ul>
              </td>
            </tr>
          </table>
        </center>
      </td>
    </tr>
  </table>

  <table width="600" cellpadding="0" cellspacing="0" border="0" align="center" style="padding: 0; min-width: 460px; max-width: 600px;">
    <tr>
      <td>
        <center style="max-width: 600px; width: 100%;">
          <table width="100%" bgcolor="#ffffff" cellpadding="0" cellspacing="0" border="0" align="center" style="padding: 0;">
            <tr>
              <td style="padding: 40px;background-color: #c08b61;background-image: url('./img/letters/5.jpg');background-position: 100% 100%;background-repeat: no-repeat;background-size: cover;">
                <h2 style="margin: 0;color: white;font-weight: 700;font-size: 21px;text-transform: uppercase;margin-bottom: 8px;">Посетители по сферам <br>деятельности:</h2>
                <img src="./img/letters/rect.png" alt="" width="100%" style="margin-bottom: 15px;max-width: 300px;">

                <ul style="margin: 0;padding-left: 1em;color: white;">
                  <li style="margin-bottom: 10px;">Банковские услуги</li>
                  <li style="margin-bottom: 10px;">Финансовые услуги</li>
                  <li style="margin-bottom: 10px;">Инвестиционный консалтинг</li>
                  <li style="margin-bottom: 10px;">Юридические услуги</li>
                  <li style="margin-bottom: 10px;">Налоговый консалтинг</li>
                  <li style="margin-bottom: 10px;">Инвестиционная миграция</li>
                  <li>Фидуциарные услуги</li>
                </ul>
              </td>
            </tr>
          </table>
        </center>
      </td>
    </tr>
  </table>

  <table width="600" cellpadding="0" cellspacing="0" border="0" align="center" style="padding: 0; min-width: 460px; max-width: 600px;">
    <tr>
      <td>
        <center style="max-width: 600px; width: 100%;">
          <table width="100%" bgcolor="#ffffff" cellpadding="0" cellspacing="0" border="0" align="center" style="padding: 0;">
            <tr>
              <td align="center" valign="center" style="padding-top: 40px;">
                <div style="margin-bottom: 10px;">
                  <img src="./img/letters/clock.png" width="19" alt="" style="display: inline-block;vertical-align: middle;">
                  <span style="font-weight: 700;font-size: 18px;color: #c08b61;display: inline-block;vertical-align: middle;">Дата</span>
                </div>
                <div style="font-size: 18px;">2 марта 2020</div>
              </td>
              <td align="center" valign="center" style="padding-top: 40px;">
                <div style="margin-bottom: 10px;">
                  <img src="./img/letters/clock.png" width="19" alt="" style="display: inline-block;vertical-align: middle;">
                  <span style="font-weight: 700;font-size: 18px;color: #c08b61;display: inline-block;vertical-align: middle;">Место</span>
                </div>
                <div style="font-size: 18px;">Москва, Lotte Hotel</div>
              </td>
            </tr>
          </table>
        </center>
      </td>
    </tr>
  </table>

  <table width="600" cellpadding="0" cellspacing="0" border="0" align="center" style="padding: 0; width: 100%; max-width: 600px;">
    <tr>
      <td>
        <center style="max-width: 600px; width: 100%;">
          <table width="100%" bgcolor="#ffffff" cellpadding="0" cellspacing="0" border="0" align="center" style="padding: 0;">
            <tr style="font-size: 18px;">
              <td style="padding-left: 55px;padding-top: 40px;padding-bottom: 40px;border-bottom: 1px solid #e6e6e6;" width="75%" valign="center">

                <p style="color: #151515;margin: 0;">Присоединяйтесь к сообществу INTAX GROUP 
и не упустите отличную возможность обменяться профессиональной информацией с коллегами 
из РФ и из-за рубежа, а также обзавестись полезными деловыми контактами
с потенциальными партнерами и клиентами.
</p>
              </td>
              <td width="25%" align="right" valign="center" style="padding-right: 40px;border-bottom: 1px solid #e6e6e6;padding-top: 15px;padding-bottom: 15px;">
                <img src="./img/letters/logo-vert.png" alt="" width="30" height="">
              </td>
            </tr>           
          </table>
        </center>
      </td>
    </tr>
  </table>

  <table width="600" cellpadding="0" cellspacing="0" border="0" align="center" style="padding: 0; width: 100%; max-width: 600px;">
    <tr>
      <td height="105" align="center" valign="center" style="border-top: 1px solid  #e6e6e6;">
        <center style="max-width: 600px; width: 100%;">
          <table width="100%" bgcolor="#ffffff" cellpadding="0" cellspacing="0" border="0" align="center" style="padding: 0;">
            <tr>
              <td align="center" valign="center">
                <div style="margin-bottom: 5px;">Будем рады встрече на конференции!</div>       
                <a href="#" style="text-decoration: underline;text-transform: uppercase;color: #c08b61;font-weight: 700;">Детали и регистрация <img src="./img/letters/right-arrow.png" alt="" style="display: inline-block;vertical-align: middle;margin-left: 5px;"></a>
              </td>
            </tr>
          </table>
        </center>
      </td>
    </tr>
  </table>

</body>
</html>

