<!-- begin footer -->
<footer class="footer">
  <div class="container">
    <div class="grid">
      <div class="_col-lg-2 _col-xs-3">
        <div class="footer__logo">
          <a href="/" class="logo">
            <img class="js-lazy" alt="" src="" data-src="./img/logo-lg.png"/>
          </a>
        </div>
      </div>

      <div class="_col-lg-2 _col-xs-3 _col-xss-4 _col-6">
        <div class="footer__block">
          <div class="footer__title">
            <h5 class="title title--h5">информация</h5>
          </div>

          <div class="footer__nav">
            {{ mixins.list(
              name = 'nav',
              modifications = { wrap: 'nav--footer', item: '', link: '' },
              list = [
                { link: 'Формат' },
                { link: 'Вебинары' },
                { link: 'Спонсоры' },
                { link: 'Прошедшие мероприятия' }
              ]
            ) }}
          </div>
        </div>
      </div>

      <div class="_col-lg-2 _col-xs-3 _col-xss-4 _col-6">
        <div class="footer__block">
          <div class="footer__title">
            <h5 class="title title--h5">контакты</h5>
          </div>

          <div class="footer__nav">
            {{ mixins.list(
              name = '',
              modifications = { wrap: 'nav nav--footer', item: '', link: '' },
              list = [
                { link: '+38(044) 279-29-97', href: 'tel:+380442792997' },
                { link: '+38(098) 495-99-03', href: 'tel:+380984959903' },
                { item: '01001 Украина, Киев,' },
                { item: 'ул. Софиевская, 18, офис 9' }
              ]
            ) }}
          </div>
        </div>
      </div>

      <div class="_col-lg-2 _col-xs-3 _col-xss-4 _col-6">
        <div class="footer__block">
          <div class="footer__title">
            <h5 class="title title--h5">следите за нами</h5>
          </div>

          <div class="footer__nav">
            {{ mixins.list(
              name = '',
              modifications = { wrap: 'nav nav--footer', item: '', link: '' },
              list = [
                { link: 'Info@intax-group.com', href: 'mailto:Info@intax-group.com' },
                { item:  mixins.list(
                  name = 'social',
                  modifications = { wrap: 'social--sm', item: '', link: '' },
                  list = [
                    { link: mixins.icon('instagram') },
                    { link: mixins.icon('linkedin-letters') },
                    { link: mixins.icon('facebook-logo') }
                  ]
                ) }
              ]
            ) }}
          </div>
        </div>
      </div>

      <div class="_col-lg-4">
        <div class="footer__block">
          <div class="footer__title">
            <h5 class="title title--h5">Важно</h5>
          </div>

          
          INTAX GROUP тщательно анализирует информацию, размещаемую 
          на данном сайте, однако не несет ответственность за финансовые 
          и другие результаты, связанные с ее использованием. Мы настоятельно 
          рекомендуем получить консультацию профессионала, прежде чем 
          предпринимать какие-либо действия. <a href="#">Согласие на обработку данных.</a>

        </div>
      </div>
    </div>
  </div>
</footer>
<!-- end footer -->