{# {{ mixins.list(
  name = 'nav',
  modifications = { wrap: '', item: '', link: '' },
  list = [
    { link: 'О мероприятии', href: '#about', modLink: 'js-scroll-to' },
    { link: 'программа', href: '#program', modLink: 'js-scroll-to' },
    { link: 'спикеры', href: '#speakers', modLink: 'js-scroll-to' },
    { link: 'Спонсоры', href: '#sponsors', modLink: 'js-scroll-to' },
    { link: 'Выставка', href: '#exposition', modLink: 'js-scroll-to' },
    { link: 'Цены', href: '#prices', modLink: 'js-scroll-to' },
    { link: 'Организатор', href: '#manager', modLink: 'js-scroll-to' },
    { link: 'faq', href: '#faq', modLink: 'js-scroll-to' },
    { link: 'Контакты', href: '#contacts', modLink: 'js-scroll-to' }
  ]
) }} #}

{{ mixins.list(
  name = 'nav',
  modifications = { wrap: '', item: '', link: '' },
  list = [
    { link: 'формат' },
    { link: 'вебинары' },
    { link: 'спонсоры' },
    { link: 'прошедшие мероприятия' },
    { link: 'статьи от экспертов' }
  ]
) }}