{%set
programBtns = 
  mixins.programPopupBtn(title = 'Спикер:', btn = { title: 'Вадим Нойман (Швейцария)', url: './partials/popup-speaker-1.html' })
  + ',&nbsp;'
  + mixins.programPopupBtn(
      title = 'Компания:',
      btn = { title: '«EUROFAST»', url: './partials/popup-sponsor-1.html' }
    )
  + ',&nbsp;'
  + mixins.programPopupBtn(
      title = 'Презентация:',
      href = '#',
      btn = { class: 'scedule-item__sign-link', title: '<span>Скачать</span>' + mixins.icon('right-arrow') + mixins.icon('pdf'), attributes: { download: '' } }
    )
%}

{%set
scedule = [
  {
    time: '8:00 - 9:00',
    title: 'Регистрация участников и приветственный бокал шампанского',
    text: ''
  },
  {
    time: '9:00 - 9:10',
    title: 'Открытие конференции',
    text: '<blockquote>Конференцию начинаем с концептуальных тем. В мире, где все меняется с головокружительной скоростью, изменения происходят и в одной 
из самых консервативных индустрий – Wealth Management. Новые технологии, новые поколения, новые возможности, новые вызовы и новые решения. Своим видением новой реальности  и прогнозами на ближайшее будущее поделятся ведущие эксперты отрасли</blockquote>'
  },
  {
    time: '9:10 – 9:40',
    title: 'Доклад',
    text: '
      <p>Wealth Management будущего: как меняется индустрия вслед за изменениями потребностей и ожиданий состоятельных клиентов</p>
      ' + programBtns
  },
  {
    time: '9:40 – 10:20',
    title: 'Дискуссия',
    text: '<p>Тренды в управлении частным капиталом: опыт мировых лидеров в привлечении и обслуживании состоятельных клиентов, который нужно применять в РФ.</p>
      ' + programBtns + '
      <blockquote>58% ультрабогатых россиян уже получили второй паспорт, а некоторые – сразу несколько. Для чего они это делают? Какие проблемы 
помогает решить второе гражданство? Действительно ли второй паспорт настолько эффективный инструмент? На эти вопросы 
получим ответы у международных экспертов.</blockquote>
    '

  },
  {
    time: '10:20 – 11:00',
    title: 'Дискуссия',
    text: '<p>Второй паспорт и «золотая виза»: какие задачи решают богатые россияне при помощи смены гражданства и переезда в другую страну. 
Мифы vs Реальность.</p>
  ' + programBtns + '
'
  },
  {
    time: '11:00 – 11:45',
    title: 'Доклад',
    text: '
    <p>Изменения, затронувшие программы гражданства и ВНЖ на Кипре. Греция – новый игрок на рынке инвестиционного гражданства.</p>
    ' + programBtns
  },
  {
    time: '',
    title: 'Доклад',
    text: '
    <p>Старт программы гражданства за инвестиции в Черногории – куда инвестировать в одной из самых перспективных стран региона.</p>
    ' + programBtns
  },
  {
    time: '12:00 – 13:00',
    title: 'Обед',
    text: '<p>И новые знакомства с коллегами </p>
      <blockquote>КИК, BEPS, CRS и другие аббревиатуры в течение последних лет делают жизнь состоятельных россиян все сложнее. Обсудим самые 
последние изменения в России и в мире, направленные на контроль государств над доходами и расходами HNWI, сравним 
возможности, которые предлагают разные страны для защиты активов состоятельных людей.</blockquote>
    '
  },
  {
    time: '13:00 – 13:45',
    title: 'Дискуссия',
    text: '<p>Россия антиофшорная: что изменится в ближайшем будущем для состоятельных налогоплательщиков. Как оставаться богатым 
и не нарушать закон.</p>
' + programBtns
  },
  {
    time: '13:45 – 14:10',
    title: 'Доклад',
    text: '<p>Тему согласуем после получения оплаты</p>
    ' + programBtns
  },
  {
    time: '14:10 – 14:35',
    title: 'Доклад',
    text: '<p>Как SPF компания в Люксембурге может помочь резидентам РФ в личном инвестировании и защите активов.</p>
    ' + programBtns
  },
  {
    time: '14:35 – 15:00',
    title: 'Доклад',
    text: '<p>Швейцария</p>
    ' + programBtns
  },
  {
    time: '15:00 – 15:25',
    title: 'Доклад',
    text: '<p>ЮК/ЮСА</p>
    ' + programBtns
  },
  {
    time: '15:25 – 15:50',
    title: 'Доклад',
    text: '<p>Фонды Лихтенштейна: защита активов в мире тотальной прозрачности</p>
    ' + programBtns
  },
  {
    time: '15:50 – 16:30',
    title: 'Кофе-пауза',
    text: '<p>И обмен мнениями в кулуарах</p>
      <blockquote>От идеи – до реализации планов. Конкретные рекомендации от ведущих профессионалов для состоятельных клиентов и их 
советников по управлению, защите и приумножению состояния. Только работающие решения, проверенные на собственном 
опыте предлагают разные страны для защиты активов состоятельных людей.международных экспертов.</blockquote>
    '
  },
  {
    time: '16:30 – 17:00',
    title: 'Доклад',
    text: '<p>Ожидания российского клиента от индустрии Wealth Management: какие услуги делают его счастливым.</p>
    ' + programBtns
  },
  {
    time: '17:00 – 17:45',
    title: 'Дискуссия ',
    text: '<p>Второе поколение миллионеров: как подготовить наследника и защитить активы и бизнес от недружественных действий со стороны 
конкурентов, партнеров и менеджмента при передаче по наследству.</p>
' + programBtns
  },
  {
    time: '17:45 – 18:30',
    title: 'Дискуссия ',
    text: '<p>Стратегия богатства в 2020 году: рекомендации состоятельным частным клиентам в России по защите и приумножению состояния 
от лидеров индустрии.</p>
' + programBtns
  },
  {
    time: '18:30 – 18:40',
    title: 'Закрытие конференции',
    text: ''
  },
  {
    time: '18:40 – 20:00',
    title: 'Вечерний коктейль ',
    text: 'И приятное общение'
  }
]
%}

<!-- begin scedule -->
<div class="scedule">
  {% for i in scedule %}
  <div class="scedule__item scedule-item">
    <div class="scedule-item__time">{{ i.time | safe }}</div>

    <div class="scedule-item__content">
      {% if i.title %}
      <div class="scedule-item__title">{{ i.title | safe }}</div>
      {% endif %}

      {% if i.text %}
      <div class="scedule-item__text">{{ i.text | safe }}</div>
      {% endif %}
    </div>
  </div>
  {% endfor %}
</div>
<!-- end scedule -->