<div class="popup-content__left">
  <div class="popup-content__img">
    <img class="" src="./img/121212.jpg" alt="">
  </div>
</div>

<div class="popup-content__content">
  <div class="popup-content__title title-under">
    <h3 class="title title--h3 js-popup-info-title">Дэн Хермансон</h3>
  </div>

  <div class="popup-content__text">
    <a href="#">zedra</a>
    <p><strong>Тема выступления:</strong></p>
    <em>Модератор панельной дискуссии: Россия антиофшорная: что изменится 
      в ближайшем будущем для состоятельных налогоплательщи-ков. 
    Как оставаться богатым и не нарушать закон.</em>
    <p>Управляющий директор офисов компании  ZEDRA в Цюрихе и Цуге
    Вадим присоединился к Zedra в 2018 году, как управляющий дирек-тор офиса в Цюрихе.</p>
    <p>До этого он работал директором известной в Цюрихе компании, предоставляющей корпоративные услуги. Вадим отвечал за Цюрихский офис и руководил портфелем международных клиентов. У Вадима два высших юридических образования, полученных в Швейцарии и Германии, так же он является швейцарским налоговым специалистом. Вадим свободно владеет русским, английским и немецкими языками.</p>
    <a href="#">www.zedra.com</a>
  </div>
</div>
