{%set
form = {
  title: 'разместить стенд',
  subttl: 'Оставьте ваши контактные данные ниже и наш
менеджер свяжется с вами в ближайшее время',
  btn: {
    title: 'Зарегистрироваться'
  },
  fields: [
    {
      name: 'input',
      type: 'text',
      placeholder: 'Имя',
      fieldClass: '',
      fieldAttributes: {},
      options: [],
      label: { last: '' }
    },
    {
      name: 'input',
      type: 'text',
      placeholder: 'название компании',
      fieldClass: '',
      fieldAttributes: {},
      options: [],
      label: { last: '' }
    },
    {
      name: 'input',
      type: 'tel',
      placeholder: 'Tелефон',
      fieldClass: '',
      fieldAttributes: {},
      options: [],
      label: { last: '' }
    },
    {
      name: 'input',
      type: 'email',
      placeholder: 'Электронный адрес',
      fieldClass: '',
      fieldAttributes: {},
      options: [],
      label: { last: '' }
    },
    {
      wrapMod: 'form__field--checkbox',
      name: 'checkbox',
      type: 'checkbox',
      placeholder: '',
      fieldClass: '',
      fieldAttributes: { checked: '' },
      options: [],
      label: { last: '<span>Я согласен с <a href="#" class="js-popup-open" data-popup-target="terms">Условиями участия</a> и даю согласие на обработку и хранение 
моих данных согласно действующего законодательства</span>' }
    }
  ]
}
%}

<!-- begin popup -->
<div class="popup popup--form js-popup" data-popup="stand-reg">
  <div class="popup__inner">
    <button class="popup__close close js-popup-close"></button>

    {% include "partials/_form.html" %}
  </div>
</div>
<!-- end popup -->