<!-- begin section -->
<section class="section pb-0">
  <div class="container">
    <div class="grid">
      <div class="_col-sm-6">
        <div class="section__title">
          <h2 class="title title--h2">О мероприятии</h2>
        </div>

        <!-- begin text -->
        <div class="text">
          <p>Intax Insider – международная конференция-выставка о самых актуальных решениях для состоятельных россиян в сферах управления, налогообложения, структурирования и преумножения частного капитала.</p>

          <p>Финансовые советники, банкиры, юристы и консультанты более чем из 20 стран соберутся 2 марта 2020 года в Москве, чтобы получить максимум информации и полезных контактов 
            в одном месте. Только здесь можно получить доступ к опыту лучших иностранных 
            и российских экспертов, которые обслуживают капиталы состоятельных 
          и ультрасостоятельных клиентов, узнать все о трендах изменения индустрии Wealth Management, обменяться мнениями с коллегами, познакомиться с потенциальными партнерами и клиентами..</p>

          <p>Intax Insider – событие, которое превращает вопросы в действенные решения..</p>
        </div>
        <!-- end text -->
      </div>

      <div class="_col-sm-6">
        <div
          class="section__img js-lazy"
          data-background-image="./img/about.jpg">
        </div>
      </div>
    </div>
  </div>
</section> 
<!-- end section -->