<!-- begin section -->
<section class="section pb-0">
  <div class="container">
      <h2 class="section__title title title--h2 text-center">статьи от экспертов</h2>

    <!-- begin slider -->
    <div class="slider__wrap slider--speakers__wrap">
      <div class="swiper-container js-slider" data-slider="items">
        <div class="swiper-wrapper slider">
          {% for i in range(0, 5) %}
          {{ mixins.card(
            mod = 'swiper-slide slide',
            img = 'article-01.jpg',
            meta = true,
            title = { under: 'Чем мы помогаем бизнес-сообществу' },
            text = 'Организовываем постоянное общение ведущих мировых экспертов, создаем лучшие события, задача которых – дать самую актуальную и эксклюзивную информацию, наладить все деловые отношения с коллегами и партнерами...',
            hashtags = true
          ) }}
          {% endfor %}
        </div>
      </div>

      <div class="slider__controls">
        <button class="slider__prev prev js-slider-prev">{{ mixins.icon('left-arrow') }}</button>
        <button class="slider__nex next js-slider-next">{{ mixins.icon('left-arrow') }}</button>
      </div>
    </div>
    <!-- end slider -->

    <div class="section__btn">
      {{ mixins.btn(
        title = 'перейти ко всем статьям',
        mod = ''
      ) }}
    </div>
  </div>
</section>
<!-- end section -->