{%set
contacts = [
  {
    title: 'адрес',
    text: '
      <p>
        <strong>Кипр:</strong>
        Dimitraki Christodoulou, 5, 3rd floor, <br>
        Office 303, 1035, Nicosia, Cyprus
      </p>
      <p><strong>Украина:</strong>
      01001 Украина, Киев, <br>
      ул. Софиевская, 18, офис 9</p>      
    ',
    mod: 'contact--lg'
  },
  {
    title: 'Телефон',
    text: '
      <p><a href="tel:+380442792997">+38(044) 279-29-97</a></p>
      <p><a href="tel:+380984959903">+38(098) 495-99-03</a></p>
    ',
    mod: ''
  },
  {
    title: 'e-mail',
    text: '<a href="mailto:info@intax-group.com">info@intax-group.com</a>',
    mod: ''
  }
]
%}

{%set
form = {
  btn: {
    title: 'задать вопрос'
  },
  fields: [
    {
      name: 'input',
      placeholder: 'имя',
      type: 'text',
      fieldClass: '',
      fieldAttributes: ''
    },
    {
      name: 'input',
      placeholder: '+38 (_ _ _) - _ _ _ - _ _ - _ _',
      type: 'tel',
      fieldClass: '',
      fieldAttributes: ''
    },
    {
      name: 'textarea',
      placeholder: 'краткое сообщение',
      type: '',
      fieldClass: 'js-textarea',
      fieldAttributes: ''
    }
  ]
}
%}

<!-- begin section -->
<section id="contacts" class="section section--gray js-scroll-to-section">
  <div class="container">
    <div class="grid">
      <div class="_col-md-6">
        <div class="section__title">
          <h2 class="title title--h2">остались вопросы?</h2>
        </div>

        <!-- begin contacts-block -->
        <div class="contacts-block">
          <div class="contacts-block__form">
            {% include "partials/_form.html" %}
          </div>

          <div class="contacts-block__contacts">
            <!-- begin contacts -->
            <div class="contacts">
              {% for i in contacts %}
              <!-- begin contact -->
              <div class="contact{% if i.mod %} {{ i.mod }}{% endif %}">
                <div class="contact__title">
                  <h5 class="title title--h5">{{ i.title | safe }}</h5>
                </div>

                <div class="contact__text">{{ i.text | safe }}</div>
              </div>
              <!-- end contact -->
              {% endfor %}
            </div>
            <!-- end contacts -->
          </div>
        </div>
        <!-- end contacts-block -->
      </div>

      <div class="_col-md-6">
        {# <div class="section__img"> #}
          <div class="map">
            <iframe
              class="js-lazy"
              src=""
              data-src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2245.4691674362853!2d37.581801816046315!3d55.750351699648355!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54bb531af6ce9%3A0xb840f24a2e0e3784!2z0JvQvtGC0YLQtSDQntGC0LXQu9GMINCc0L7RgdC60LLQsA!5e0!3m2!1sru!2sua!4v1577090014314!5m2!1sru!2sua"
              frameborder="0"
              style="border:0;"
              allowfullscreen=""></iframe>
          </div>
        {# </div> #}
      </div>
    </div>
  </div>
</section>
<!-- end section -->