<!-- begin section -->
<section id="closest-event" class="section pb-0">
  <div class="container">
    <div class="section__title text-center">
      <h2 class="title title--h2">Ближайшие мероприятия в Москве </h2>
    </div>

    <div class="grid">
      <div class="_col-md-6">
        <!-- begin block -->
        <div class="block block--equal block--gray text-center">
          <div class="block__el">
            <img class="block__logo js-lazy" alt="" src="" data-src="./img/Privat-forum.png"/>
          </div>
          
          <div class="block__el block__btn">
            {{ mixins.btn(
              title = 'информация будет доступна в июле 2020',
              mod = ''
            ) }}
          </div>
        </div>
        <!-- end block -->
      </div>

      <div class="_col-md-6">
        <!-- begin block -->
        <div class="block block--equal">
          <div class="block__el text-center">
            <img class="js-lazy" alt="" src="" data-src="./img/logo-gorizont-1-1-1.png"/>
          </div>          

          <div class="block__el">
            Конференцию посещают более 300 участников из 20 стран мира для обмена актуальной информацией об изменениях в национальном и международном законодательствах в сферах налогового планирования и структурирования бизнеса.
          </div>
          
          <div class="block__el block__btn">
            {{ mixins.btn(
              title = 'ДЕТАЛЬНЕЕ О МЕРОПРИЯТИИ',
              mod = ''
            ) }}
          </div>          

          <div class="block__el">Intax Expo Russia - самая масштабная международная площадка для профессионального общения топ-менеджеров бизнеса, работающего на глобальных рынках, с представителями финансовых, юридических и консалтинговых компаний, которые сопровождают международные сделки и коммерческие операции.</div>
        </div>
        <!-- end block -->
      </div>
    </div>
  </div>
</section>
<!-- end section -->