<!-- begin section -->
<section class="section section--color s-dude">
  <div class="container">
    <div class="grid">
      <div class="_col-xs-7">
        <!-- begin block -->
        <div class="block block--transp">
          <div class="block__top block__el">
            <a href="#" class="block__top-logo"><img class="js-lazy" alt="" data-src="./img/logo-ins.png"></a>

            <div class="link-bold">
              {{ mixins.icon('left-arrow') }}
              Подписывайтесь на наш телеграм-канал
            </div>
          </div>
          <div class="block__text">
            <p>
              Новости со всего мира об управлении, <br>
              налогообложении и защите больших денег.
            </p>

            <p>А также – о богатстве и о богатых людях: <br>
            личные финансы, инвестиции, Life style миллионеров.</p>

            <p>Канал создан командой Intax Group – аналитики одного из лучших мировых <br>
              организаторов конференций ежедневно мониторят сотни источников <br>
            информации для вас и отбирают самое интересное.</p>
          </div>
        </div>
        <!-- end block -->
      </div>

      {# <div class="_col _col-5">
        <img class="s-dude__img js-lazy" src="" alt="" data-src="./img/dude.png"/>
      </div> #}
    </div>
  </div>

  <img class="s-dude__img js-lazy" src="" alt="" data-src="./img/dude.png"/>
</section>
<!-- end section -->
