<!-- begin section -->
<section class="section{% if not sEvents.pb %} pb-0{% endif %}">
  <div class="container">
      <h2 class="section__title title title--h2 text-center">Предстоящие мероприятия</h2>

    <!-- begin slider -->
    <div class="slider__wrap slider--speakers__wrap">
      <div class="swiper-container js-slider" data-slider="items">
        <div class="swiper-wrapper slider">
          {% for i in range(0, 5) %}
          {{ mixins.card(
            mod = 'swiper-slide slide',
            img = '5.jpg',
            title = { lg: true },
            text = 'Стратегия богатства в 2020 году: рекомендации 
                состоятельным частным клиентам в России по защите и приумножению состояния от лидеров индустрии.',
            people = true,
            hashtags = true
          ) }}
          {% endfor %}
        </div>
      </div>

      <div class="slider__controls">
        <button class="slider__prev prev js-slider-prev">{{ mixins.icon('left-arrow') }}</button>
        <button class="slider__nex next js-slider-next">{{ mixins.icon('left-arrow') }}</button>
      </div>
    </div>
    <!-- end slider -->
    
    <div class="section__btns">
      <div class="section__btn">
        {{ mixins.btn(
          title = 'все предстоящие мероприятия',
          mod = 'btn--lg btn--wide'
        ) }}
      </div>

      <div class="section__btn">
        {{ mixins.btn(
          title = 'все прошедшие мероприятия',
          mod = 'btn--lg btn--wide btn--transp'
        ) }}
      </div>
    </div>
  </div>
</section>
<!-- end section -->