{%set
logos = [
  { img: '1200px-1+1_logo.svg.png' },
  { img: 'logo-inter.png' },
  { img: 'Logo-2_1-1.png' },
  { img: '1280px-ICTV_logo.svg.png' },
  { img: 'Логотип_Україна24.png' },
  { img: 'logo.png' },
  { img: '2631806.png' },
  { img: '5d1ce9299dbdb0.80192459.png' },
  { img: 'unnamed-2.png' },
  { img: 'MS-logo-wep-1.png' },
  { img: 'unnamed.png' },
  { img: 'logo-hit-fm.png' }
]
%}

<!-- begin section -->
<section class="section">
  <div class="container">
    <h2 class="section__title title title--h2 text-center">Медиа поддержка</h2>

    <!-- begin logos -->
    <div class="logos">
        {% for i in logos %}
          <div class="logos__item">
            <img class="js-lazy" src="" alt="" data-src="./img/media/{{ i.img }}"/>
          </div>
        {% endfor %}
      
    </div>
    <!-- end logos -->
  </div>
</section>
<!-- end section -->
