<!-- begin section -->
<section class="section">
  <div class="container">
    {% include "partials/_top-select.html" %}

    <div class="grid">
      {% for i in range(0, 9) %}
      <div class="_col-md-4 _col-xs-6">
        {{ mixins.card(
            mod = '',
            img = 'article-01.jpg',
            meta = true,
            title = { under: 'Чем мы помогаем бизнес-сообществу' },
            text = 'Организовываем постоянное общение ведущих мировых экспертов, создаем лучшие события, задача которых – дать самую актуальную и эксклюзивную информацию, наладить все деловые отношения с коллегами и партнерами...',
            hashtags = true
          ) }}

      </div>
      {% endfor %}
    </div>

    {% include "partials/_pagination.html" %}

    <div class="section__btn">
      {{ mixins.btn(
        title = 'Вернуться на главную',
        mod = 'btn--wide-md'
      ) }}
    </div>
  </div>
</section>
<!-- end section -->