<!-- begin section -->
<section id="manager" class="section js-scroll-to-section">
  <div class="container">
    <div class="grid">
      <div class="_col-sm-6">
        <div class="section__title">
          <h2 class="title title--h2">Организатор</h2>
        </div>

        <div class="text">
          <p>INTAX GROUP — компания событийных коммуникаций в сферах управления корпоративными и частными активами, инвестирования, корпоративного менеджмента и налогового планирования. С 2009 года мы создаем мероприятия в 10 разных странах мира, и благодаря нашим глубоким знаниям тематики, ежедневной аналитике и постоянному общению ведущими мировыми экспертами, мы создаем лучшие события, задача которых – дать самую актуальную и эксклюзивную информацию, наладить деловые отношения с коллегами и партнерами со всех континентов, найти новых клиентов.</p>

          <p>САЙТ INTAX GROUP: <a href="#">https://intax-group.com</a></p>

          <p>Конференция Intax Private Capital Forum впервые прошла в России в феврале 2019 года и сразу же зарекомендовала себя, как одно из самых знаковых событий страны в индустрии Wealth Management. Высокий уровень спикеров и участников мероприятия продемонстрировали актуальность обсуждаемых на сцене тем, а живое общение во время перерывов и вечернего коктейля доказало, что самое интересное – в кулуарах!</p>
        </div>
      </div>

      <div class="_col-sm-6">
        <div class="section__img js-lazy" data-background-image="./img/538.jpg"></div>
      </div>
    </div>

    {% if page !== 'page-after' %}
    <div class="section-btns">
      <div class="section-btns__btn">
        {{ mixins.btn(
          title = 'зарегистрироваться',
          mod = 'btn--lg btn--full js-popup-open',
          href = false,
          attributes = { 'data-popup-target': 'registration' }
        ) }}
      </div>

      <div class="section-btns__btn">
        {{ mixins.btn(
          title = 'стать спонсором',
          mod = 'btn--lg btn--full btn--transp js-popup-open',
          href = false,
          attributes = { 'data-popup-target': 'sponsor-reg' }
        ) }}
      </div>
    </div>
    {% endif %}
  </div>
</section>
<!-- end section -->