{%set
slider = [
  {
    url: 'popup-speaker-1.html',
    img: '121212.jpg',
    text: '<a href="#">zedra</a>
                <p><strong>Тема выступления:</strong></p>
                <em>Модератор панельной дискуссии: Россия антиофшорная: что изменится 
                  в ближайшем будущем для состоятельных налогоплательщи-ков. 
                  Как оставаться богатым и не нарушать закон.</em>
                <p>Управляющий директор офисов компании  ZEDRA в Цюрихе и Цуге
                  Вадим присоединился к Zedra в 2018 году, как управляющий дирек-тор офиса в Цюрихе.</p>
                 <p>До этого он работал директором известной в Цюрихе компании, предоставляющей корпоративные услуги. Вадим отвечал за Цюрихский офис и руководил портфелем международных клиентов. У Вадима два высших юридических образования, полученных в Швейцарии и Германии, так же он является швейцарским налоговым специалистом. Вадим свободно владеет русским, английским и немецкими языками.</p>
                <a href="#">www.zedra.com</a>',
    title: 'Дэн Хермансон'
  },
  {
    url: 'popup-speaker-2.html',
    img: 'people-1690965_1920.jpg',
    text: 'Является дипломированным членом британского Чартерного Института Налогообложения (ADIT Affiliate), обладает степенями магистра Является дипломированным членом британского Чартерного Института Налогообложения (ADIT Affiliate), обладает степенями магистра Является дипломированным членом британского Чартерного Института Налогообложения (ADIT Affiliate), обладает степенями магистра Является дипломированным членом британского Чартерного Института Налогообложения (ADIT Affiliate), обладает степенями магистра',
    title: 'ВАДИМ НОЙМАН (ШВЕЙЦАРИЯ)'
  },
  {
    url: 'popup-speaker-1.html',
    img: '121212.jpg',
    text: '<a href="#">zedra</a>
                <p><strong>Тема выступления:</strong></p>
                <em>Модератор панельной дискуссии: Россия антиофшорная: что изменится 
                  в ближайшем будущем для состоятельных налогоплательщи-ков. 
                  Как оставаться богатым и не нарушать закон.</em>
                <p>Управляющий директор офисов компании  ZEDRA в Цюрихе и Цуге
                  Вадим присоединился к Zedra в 2018 году, как управляющий дирек-тор офиса в Цюрихе.</p>
                 <p>До этого он работал директором известной в Цюрихе компании, предоставляющей корпоративные услуги. Вадим отвечал за Цюрихский офис и руководил портфелем международных клиентов. У Вадима два высших юридических образования, полученных в Швейцарии и Германии, так же он является швейцарским налоговым специалистом. Вадим свободно владеет русским, английским и немецкими языками.</p>
                <a href="#">www.zedra.com</a>',
    title: 'Дэн Хермансон'
  },
  {
    url: 'popup-speaker-2.html',
    img: 'people-1690965_1920.jpg',
    text: 'Является дипломированным членом британского Чартерного Института Налогообложения (ADIT Affiliate), обладает степенями магистра Является дипломированным членом британского Чартерного Института Налогообложения (ADIT Affiliate), обладает степенями магистра Является дипломированным членом британского Чартерного Института Налогообложения (ADIT Affiliate), обладает степенями магистра Является дипломированным членом британского Чартерного Института Налогообложения (ADIT Affiliate), обладает степенями магистра',
    title: 'ВАДИМ НОЙМАН (ШВЕЙЦАРИЯ)'
  },
  {
    url: 'popup-speaker-1.html',
    img: '121212.jpg',
    text: '<a href="#">zedra</a>
                <p><strong>Тема выступления:</strong></p>
                <em>Модератор панельной дискуссии: Россия антиофшорная: что изменится 
                  в ближайшем будущем для состоятельных налогоплательщи-ков. 
                  Как оставаться богатым и не нарушать закон.</em>
                <p>Управляющий директор офисов компании  ZEDRA в Цюрихе и Цуге
                  Вадим присоединился к Zedra в 2018 году, как управляющий дирек-тор офиса в Цюрихе.</p>
                 <p>До этого он работал директором известной в Цюрихе компании, предоставляющей корпоративные услуги. Вадим отвечал за Цюрихский офис и руководил портфелем международных клиентов. У Вадима два высших юридических образования, полученных в Швейцарии и Германии, так же он является швейцарским налоговым специалистом. Вадим свободно владеет русским, английским и немецкими языками.</p>
                <a href="#">www.zedra.com</a>',
    title: 'Дэн Хермансон'
  },
  {
    url: 'popup-speaker-2.html',
    img: 'people-1690965_1920.jpg',
    text: 'Является дипломированным членом британского Чартерного Института Налогообложения (ADIT Affiliate), обладает степенями магистра Является дипломированным членом британского Чартерного Института Налогообложения (ADIT Affiliate), обладает степенями магистра Является дипломированным членом британского Чартерного Института Налогообложения (ADIT Affiliate), обладает степенями магистра Является дипломированным членом британского Чартерного Института Налогообложения (ADIT Affiliate), обладает степенями магистра',
    title: 'ВАДИМ НОЙМАН (ШВЕЙЦАРИЯ)'
  }
]
%}

<!-- begin section -->
<section id="speakers" class="section pb-0 js-scroll-to-section">
  <div class="container">
    {# <div class="text-center"> #}
      <h2 class="title title--h2 text-center">Спикеры</h2>
    {# </div> #}

    <!-- begin slider -->
    <div class="slider__wrap slider--speakers__wrap">
      <div class="swiper-container js-slider" data-slider="speakers">
        <div class="swiper-wrapper slider">
          {% for i in slider %}
          <div class="swiper-slide slide speaker">
            <div
              class="speaker__img js-lazy"
              data-background-image="./img/{{ i.img }}"></div>

            <div class="speaker__content">
              <div class="speaker__title title-under">
                <h3
                  class="title title--h3"
                >{{ i.title | safe }}</h3>
              </div>

              <div class="speaker__text text-overflow">
                {{ i.text | safe }}
              </div>

              <button
                class="speaker__link link js-popup-open"
                data-popup-target="info"
                data-popup-url="./partials/{{ i.url }}"
                >подробне о спикере</button>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>

      <div class="slider__controls">
        <button class="slider__prev prev js-slider-prev">{{ mixins.icon('left-arrow') }}</button>
        <button class="slider__nex next js-slider-next">{{ mixins.icon('left-arrow') }}</button>
      </div>
    </div>
    <!-- end slider -->
    
    {% if page !== 'page-after' %}
    <div class="section__btn text-center">
      {{ mixins.btn(
        title = 'стать спикером',
        mod = 'btn--wide js-popup-open',
        href = false,
        attributes = { 'data-popup-target': 'speaker-reg' }
      ) }}
    </div>
    {% endif %}
  </div>
</section>
<!-- end section -->