{%set
features = [
  {
    img: '594.png',
    text: 'Участники <br>
и спикеры из 20 стран'
  },
  {
    img: '605943-PN83PL-598.png',
    text: 'Доклады и дискуссии <br>
на самые важные темы'
  },
  {
    img: '653.png',
    text: 'Роскошная <br>
локация конференции <br>
Безупречная организация <br>
мероприятия'
  },
  {
    img: '3128.png',
    text: '40 спикеров <br>
самого высокого уровня'
  },
  {
    img: '652.png',
    text: 'Нетворкинг <br>
среди лидеров <br>
индустрии wealth management'
  },
  {
    img: '2019-04-06.png',
    text: 'Вечерний коктейль <br>
для закрепления <br>
новых знакомств'
  }
]
%}

<!-- begin section -->
<section id="features" class="section section--border js-scroll-to-section">
  <div class="container">
    <div class="section__title text-center">
      <h2 class="title title--h2">ПОЧЕМУ СТОИТ ПОСЕТИТЬ <br>
        INTAX PRIVATE CAPITAL FORUM
      </h2>
    </div>

    <!-- begin features -->
    <div class="features">
      <div class="grid">
        {% for i in features %}
        <div class="_col-lg-4 _col-xss-6">
          <!-- begin feature -->
          <div class="feature feature--img">
            <div class="feature__img{% if i.imgMod %} {{ i.imgMod }}{% endif %}">
              <img class="js-lazy" alt="" src="" data-src="./img/features/{{ i.img }}"/>
            </div>

            <div class="feature__content">{{ i.text | safe }}</div>
          </div>
          <!-- end feature -->
        </div>
        {% endfor %}
      </div>
    </div>
    <!-- end features -->
  </div>
</section>
<!-- end section -->